@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* normal scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  background: rgba(255, 255, 255, 0.09);
  border-radius: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  /* border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
  box-shadow: inset 0 0 6px rgb(0 0 0 / 30%); */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #707070;
  border-radius: 6px;
}

.custom-scrollbar:focus-visible {
  outline: 2px solid #2d8cff;
  outline-offset: -2px;
}

/* virtualized scrollbar */
.custom-scrollbar .ReactVirtualized__List::-webkit-scrollbar {
  width: 8px;
  background: rgba(255, 255, 255, 0.09);
  border-radius: 6px;
}

.custom-scrollbar .ReactVirtualized__List::-webkit-scrollbar-track {
  /* border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
  box-shadow: inset 0 0 6px rgb(0 0 0 / 30%); */
}

.custom-scrollbar .ReactVirtualized__List::-webkit-scrollbar-thumb {
  background-color: #707070;
  border-radius: 6px;
}

.custom-scrollbar .ReactVirtualized__List:focus-visible {
  outline: 2px solid #2d8cff;
  outline-offset: -2px;
}

/* custom-scrollbar scrollbar */
.custom-scrollbar__menu-list::-webkit-scrollbar {
  width: 8px;
  background: rgba(255, 255, 255, 0.09);
  border-radius: 6px;
}

.custom-scrollbar__menu-list::-webkit-scrollbar-track {
  /* border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
  box-shadow: inset 0 0 6px rgb(0 0 0 / 30%); */
}

.custom-scrollbar__menu-list::-webkit-scrollbar-thumb {
  background-color: #707070;
  border-radius: 6px;
}

.custom-scrollbar__menu-list:focus-visible {
  outline: 2px solid #2d8cff;
  outline-offset: -2px;
}

/* custom-scrollbar scrollbar */
.custom-scrollbar .epr-body::-webkit-scrollbar {
  width: 8px;
  background: rgba(255, 255, 255, 0.09);
  border-radius: 6px;
}

.custom-scrollbar .epr-body::-webkit-scrollbar-track {
  /* border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
  box-shadow: inset 0 0 6px rgb(0 0 0 / 30%); */
}

.custom-scrollbar .epr-body::-webkit-scrollbar-thumb {
  background-color: #707070;
  border-radius: 6px;
}

.custom-scrollbar .epr-body:focus-visible {
  outline: 2px solid #2d8cff;
  outline-offset: -2px;
}

.keyboard-open {
  height: 100%;
  overflow: hidden;
  position: fixed;
  width: 100%;
}
